root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off   # ⬅️ Prettier가 줄바꿈 관리하게 끔 끕니다.
